@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --current-color: #3b82f6;
  --checked-color: #10b981;
  --unchecked-color: #94a3b8;
  --found-color: #22c55e;
  --ai-color: #8b5cf6;
  --stroke-color: #64748b;
  --text-color: #374151;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


